
/* Your CSS Code here. */
.main {
  width: 200px;
  background-color: purple;
  border-left: 5px solid green;
  padding: 10px;
}

.heading {
  font-size: 20px;
  color: white;* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 200px !important;
  background-color: purple;
  border-left: 5px solid green;
  padding: 10px;
  display: block;
}

.heading {
  font-size: 20px !important;
  color: white;
  text-decoration: underline;
}

  text-decoration: underline;
}
